@model Product
@{
    double discountAmount = Model.Price * ((double)(Model?.Discount ?? 0) / 100);
    discountAmount = Model.Price - discountAmount;
    CultureInfo culture = new CultureInfo("vi-VN");
    NumberFormatInfo numberFormat = culture.NumberFormat;

}

<a href="javascript:void(0)" class="card-product" onclick="handleDetail(@Model.Id)">
    <div class="image-product">
        <img src="~/@Model.Images?.First()?.Src" />
        @if(User.Identity.IsAuthenticated)
        {
            <button class="text-uppercase bt-add-cart" onclick="addToCart(event, @Model?.Imports?.First()?.Id)">Thêm giỏ hàng</button>

        }
        else
        {
            <button class="text-uppercase bt-add-cart" onclick="goToLogin(event)">Thêm giỏ hàng</button>

        }
    </div>
    <p class="sub-title-card">@Model.SubTitle</p>
    <p class="name-card">@Model.Title</p>
    <div class="block-price">
        <p class="pro-price">@discountAmount.ToString("C", numberFormat)</p>
        <p class="discount-price">@Model.Price.ToString("C", numberFormat)</p>
    </div>
</a>