@{
    var Data = Model?.Data;
}
<ul class="pagination">
    
    <li>
        @if (Data?.PageIndex <=1)
        {
            <a><i class="fa-solid fa-angle-left"></i></a>
        }
        else
        {
            var next = Data?.PageIndex - 1;
            <a asp-route-page="@next"><i class="fa-solid fa-angle-left"></i></a>
        }

        
    </li>
    @for (var i = 1; i <= (Model?.Data?.TotalPage ?? 1) ; i++)
    {
        @if(Model?.Data?.PageIndex == i)
        {
            <li class="active pageNumberLink">
                <a >@i</a>
            </li>
        }else{
            <li class="pageNumberLink" >
                <a asp-route-page="@i">@i</a>
            </li>
        }
    }
    <li>
        @if (Data?.PageIndex >= Data?.TotalPage)
        {
            <a><i class="fa-solid fa-angle-right"></i></a>
        }
        else
        {
            var next = Data?.PageIndex + 1;
            <a asp-route-page="@next"><i class="fa-solid fa-angle-right"></i></a>
        }

    </li>
</ul>

